* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colore navbar */
.navbar {
    background-color: black;
}

/* immagine hero */
.bgimage {
    height: 100vh;
    background: url(images/HERO_Pix4Dcloud_2023.jpg) no-repeat center center;
    position: relative;
    background-size: cover;
}

/* testo hero */
.hero_title{
    font-size: 5rem;
}

.hero_sub {
    font-size: 2rem;
}

.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* Informazioni*/
.fab{
    color: #000000;
}

.fab:hover{
    color: green;
}
/* sezione servizi*/
.servicesText.card{
    height: 100%;
    cursor: pointer;
    transition: transform 800ms
}
.card-text{
    font-size: 1.3rem;
    min-height: 200px;
}

.servicesIcon {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.card-title{
    text-align: center;
}

.card:hover .servicesIcon{
    color: green;
}

.servicesText:hover{
    border: 2px solid green;
    transform: scale(1.03);
}

/* sezione progetti */
.card-img {
    width: 100%;
    height: 300px;
}

.portfolio-card{
    transition: transform 800ms;
}

.portfolio-card:hover{
    border: 2px solid green;
    cursor: pointer;
    transform: scale(1.03)
}

.card-text-project{
    /*height: 100%;*/
    font-size: 1.3rem;
    min-height: 200px;
}

/* footer */
#footer {
    background-color: #808080;
    text-align: center;
    cursor: default;
}

.social-icons {
    font-size: 36px;
}

.foot:hover {
    color: rgb(236, 192, 18);
}

.foot {
    color: #000000;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-link:hover{
    color: rgb(236, 192, 18);
}

/* sezione CV */
.cv-title{
font-weight: bold;
}

/* Scrollbar */

/* Larghezza */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Traccia della barra di scorrimento */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 80, 2);
    border-radius: 10px;
  }
  
  /* Handle:hover */
  ::-webkit-scrollbar-thumb:hover {
    background: green;
  }